:root {
  --primary: #ff8a00;
  --dark-50: #eeeeee;
  --dark-100: #676767;
  --green: #29db83;
  --green-50: #1BD97B;
}

.color-gray {
  color: var(--dark-100);
}

.color-primary {
  color: var(--primary);
}

.color-green {
  color: var(--green-50);
}

.title-color .relative {
  color: var(--primary)
}

.title-color .absolute {
  background: var(--dark-50)
}

.color-icon-payment {
  color: var(--green)
}

.default-list {
  border: 1px solid #CCCCCC;
  color: var(--dark-100);
}

.active-list {
  border: 2px solid var(--green-50);
  background: rgba(27, 217, 123, 0.1);
}

.btn-submit {
  background: var(--primary);
  color: #fff;
  text-align: center;
  font-weight: 500;
  cursor: pointer;
}

.btn-submit-disable {
  background: var(--dark-50);
  color: var(--dark-100);
  text-align: center;
  font-weight: 500;
  cursor: not-allowed;
}

.default-step {
  background: #ffe4b8;
}

.active-step {
  background: #FF8A00;
  color: white;
}